.character-card {
  margin: 0 auto;
  max-width: 28rem;
  padding: 3rem 0;
  width: 100%;

  @media(min-width: $xs) {
    padding: 3rem;
  }
}

.character-card__image {
  background: lighten($black, 20);
  border-radius: 50%;
  display: block;
  min-height: 15rem;
  min-width: 15rem;
  width: 100%;
}

.character-card__image-wrapper {
  position: relative;
}

.character-card__name-wrapper {
  bottom: 0rem;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.character-card__name {
  align-items: center;
  background: lighten($black, 20);
  border-radius: .3rem;
  box-shadow: $shadow;
  color: $cream;
  display: flex;
  font-family: $headline-font;
  font-size: 1.6rem;
  justify-content: center;
  letter-spacing: .06rem;
  min-width: 70%;
  padding: .5rem 1rem .3rem 1rem;
  text-align: center;
  text-transform: uppercase;
}

.character-card__edit-btn {
  align-items: center;
  background: $cream;
  border-radius: 50%;
  box-shadow: $shadow;
  display: flex;
  height: 3.6rem;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: transform .2s;
  width: 3.6rem;

  &:hover {
    transform: scale(1.1);
  }
}

.character-card__edit-btn__icon {
  fill: $black;
  height: 2rem;
  width: 2rem;
}

.character-card__location {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2rem;
}