@keyframes spinner {
  to {transform: rotate(360deg);}
}

.loading-spinner-wrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
}

.loading-spinner {
  animation: spinner 2s linear infinite;
  max-width: 12.5rem;
}