.overview-wrapper {
  display: grid;
  margin: 0 auto;

  @media(min-width: $xs) {
    grid-template-columns: auto auto;
  }

  @media(min-width: $sm) {
    grid-template-columns: auto auto auto;
  }

  @media(min-width: $md) {
    grid-template-columns: auto auto auto auto;
  }

  @media(min-width: $lg) {
    grid-template-columns: auto auto auto auto auto;
  }
}

.overview__load-more {
  margin-top: 2rem;
}

.overview__load-more-btn {
  min-width: 16rem;
}